<div class="container mt-5">
    <h2>Data Table</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Type</th>
          <th>State</th>
          <th>AssignedTo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lstWorkItems.value; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.fields['System.Title'] }}</td>
          <td>{{ item.fields['System.WorkItemType'] }}</td>
          <td>{{ item.fields['System.State'] }}</td>
          <td>{{ item.fields['System.AssignedTo'].displayName }}</td>
        </tr>
      </tbody>
    </table>
  </div>